@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
  color-scheme: dark;
}

* {
  scroll-behavior: smooth;
}

/* @layer base {
  body {
    @apply font-sans bg-n-8 text-n-1 text-base;
  }
} */

.rotate-45 {
  @apply rotate-[45deg];
}

.rotate-90 {
  @apply rotate-[90deg];
}

.rotate-135 {
  @apply rotate-[135deg];
}

.rotate-180 {
  @apply rotate-[180deg];
}

.rotate-225 {
  @apply rotate-[225deg];
}

.rotate-270 {
  @apply rotate-[270deg];
}

.rotate-315 {
  @apply rotate-[315deg];
}

.rotate-360 {
  @apply rotate-[360deg];
}

.-rotate-45 {
  @apply rotate-[-45deg];
}

.-rotate-90 {
  @apply rotate-[-90deg];
}

.-rotate-135 {
  @apply rotate-[-135deg];
}

.-rotate-180 {
  @apply rotate-[-180deg];
}

.-rotate-225 {
  @apply rotate-[-225deg];
}

.-rotate-270 {
  @apply rotate-[-270deg];
}

.-rotate-315 {
  @apply rotate-[-315deg];
}

.-rotate-360 {
  @apply rotate-[-360deg];
}

.gradient-text {
  background: linear-gradient(90deg, #dbff98 0%, #a0c5ff 50%, #cc96ff 50%, #f0ff8c 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: background-position 1s ease;
  background-size: 200% 100%;
}

.gradient-text:hover {
  background-position: -100% 0;
}

/* Custom scrollbar styles */
.scrollbar-thin::-webkit-scrollbar {
  height: 4px;
  /* Height of the horizontal scrollbar */
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.6);
  /* Color of the scrollbar thumb */
  border-radius: 4px;
  /* Fully rounded */
}

.scrollbar-thin::-webkit-scrollbar-track {
  background-color: transparent;
  /* Background of the scrollbar track */
}

/* Firefox scrollbar styles */
.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 18, 0.6) transparent;
  /* thumb color and track color */
}